.keyword-search-results .field-name {
    width: 30%;
}

.summary-fields .summary-value {
    border: 1px solid #ddd;
    margin-right: 0.5em;
    margin-bottom: 0.4em;
    display: inline-block;
    padding: 0.25em;
    background: #f5f5f5;
}

.summary-fields .summary-value.matched {
    background: #428bca;
    color: white;
    border-color: white;
}
