.summary-fields .summary-value {
    margin-right: 0.5em;
    margin-bottom: 0.1em;
    display: inline-block;
    padding: 0.15em;
  }

.summary-fields .summary-value:after {
content: ",";
}

.summary-fields .summary-value:last-child:after {
content: "";
}

.summary-fields .summary-value.matched {
    background:rgba(66, 139, 202, 0.15);
}

.keyword-search-results {
  min-height:400px;
}

.keyword-search-results .field-name {
    width: 30%;
}
.keyword-search-results thead small { font-weight: normal}

.keyword-search-results.table>thead>tr>th {vertical-align:top;}

.keyword-search-results .mineName,.keyword-search-results .resultName,  {
  min-width:8em;
}

.keyword-search-results .resultSummary,  {
  min-width:50%;
}
