.keyword-search-results .field-name {
    width: 30%;
}

.summary-fields .summary-value {
    margin-right: 0.5em;
    margin-bottom: 0.4em;
    display: inline-block;
    padding: 0.25em;
  }

.summary-fields .summary-value:after {
content: ",";
}

.summary-fields .summary-value:last-child:after {
content: "";
}

.summary-fields .summary-value.matched {
    background:rgba(66, 139, 202, 0.15);
}

.keyword-search-results thead small { font-weight: normal}

.keyword-search-results.table>thead>tr>th {vertical-align:top;}

.keyword-search-results .mineName {
  min-width:8em;
}
