<div class="panel panel-primary facets">
    <div class="panel-heading">Facets</div>

    <div class="panel-body">

        <div class="row" ng-repeat="(name, facetSet) in facets">
            <h4>{{name}}</h4>

            <button
                ng-repeat="(facet, info) in facetSet"
                class="col-xs-12 facet btn btn-sm btn-default"
                ng-class="{active: info.selected}"
                ng-click="info.selected = !info.selected">
                <span class="pull-right badge">{{info.count}}</span>
                <span class="pull-left">{{facet}}</span>
            </button>
        </div>

    </div>

</div>

