<!doctype html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Multimine Search Version</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		
		
		<script charset="UTF-8"
		            data-main="main"
		            type="text/javascript"
		            src="bower_components/requirejs/require.js">
		</script>
		
		
		<style>[ng-cloak] { display: none; }</style>
	</head>

	<body ng-controller="MainCtrl">

 		<div class="row">

			<div class="hcenteredbox">

				<div class="searchbox">

					<img src="images/logo.png">

					<form class="navbar-form halfwidth" role="search" ng-submit="getCommonItems(searchterm)">
				        <div class="input-group input-group-lg">
				            <input type="text"class="form-control" placeholder="long tail, lola*, Parkinson, MGI:96677" name="searchterm" id="searchterm" ng-model="search">
				            <div class="input-group-btn">
				                <button snap-toggle ng-click="callme(search)" class="btn btn-default" type="submit">Search </button>
				            </div>
				        </div>
				    </form>

			    	<h1 ng-show="results.length > 0">{{results.length}} results in {{categories.length}} categories.</h1>

		    	</div>
			</div>


		</div>

		<div class="row">

<!-- 
    		<div class="col-xs-2">
        		<div class="panel panel-primary">
        			<div class="panel-heading well-sm">Filters</div>
        			<h4>Organisms</h4>

		        	<div ng-click="toggleFilter('genusFilter', orgs.genus)"
				  		class="category"
				  		ng-class="{selected: genusFilter.indexOf(orgs.genus) != -1}"
				  		ng-repeat="orgs in orgnest">{{orgs.genus}}</div>

		  			<div class="row"></div>

        			<h4>Data Types</h4>

		        	<div ng-click="toggleFilter('categoryFilter', category.label)" class="category" ng-class="{selected: categoryFilter.indexOf(category.label) != -1}" ng-repeat="category in categories">{{category.label}} ({{category.value}})
			  		</div>
	  		
        		</div>
    		</div> -->

    		<div class="col-xs-12">

    			<div class="panel panel-primary">

    				<div class="panel-heading well-sm">Results</div>




		    		<ng-include src="'template.html'"></ng-include>
				</div>
    		</div>
		</div>

	</body>
</html>
