<!doctype html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Multimine Search Version</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		
		
		<script charset="UTF-8"
		            data-main="main"
		            type="text/javascript"
		            src="bower_components/requirejs/require.js">
		</script>
		
		
		<style>[ng-cloak] { display: none; }</style>
	</head>

	<body ng-controller="DemoCtrl">

 		<div class="row" ng-controller="SearchInputCtrl">

			<div class="hcenteredbox">

				<div class="searchbox">

					<img src="images/logo.png">

                    <form class="navbar-form halfwidth" role="search" ng-submit="step.data.searchTerm = searchterm">
				        <div class="input-group input-group-lg">
				            <input type="text"class="form-control" placeholder="long tail, lola*, Parkinson, MGI:96677" name="searchterm" id="searchterm" ng-model="searchterm">
				            <div class="input-group-btn">
				                <button snap-toggle ng-click="search(searchTerm)" class="btn btn-default" type="submit">Search </button>
				            </div>
				        </div>
				    </form>

		    	</div>
			</div>


		</div>

		<div class="row" ng-controller="SearchResultsCtrl" ng-show="step.data.searchTerm">

            <div class="searchbox">
                <h1 ng-show="results.length > 0">{{results.length}} results in {{categories.length}} categories.</h1>
            </div>

    		<div class="col-xs-2">
                <ng-include src="'facets.html'"></ng-include>
    		</div>

    		<div class="col-xs-10">

    			<div class="panel panel-default">

    				<div class="panel-heading">Results</div>

		    		<ng-include src="'template.html'"></ng-include>
				</div>
    		</div>
		</div>

	</body>
</html>
