<table class="table keyword-search-results">
    <div class="alert alert-info" ng-hide="state.results.length || !complete">
        <strong>Sorry</strong> no results matched your search terms.
    </div>
    <div class="alert alert-warning"
         ng-show="showFailed && failed > 0">
        <span ng-click="showFailed = false" class="close">dismiss</span>
        We did not receive a response from {{ failed }} sources.
    </div>
    <div class="progress progress-striped" ng-hide="complete || !step.data.searchTerm">
        <div class="progress-bar progress-bar-success"
             role="progressbar" aria-valuenow="{{percentDone}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentDone}}%">
            <span class="sr-only">{{percentDone}}% Complete (success)</span>
        </div>
    </div>
    <tr ng-controller="RowController as row"
        ng-repeat="result in state.results | orderBy:'-relevance' | limitTo:25">
        <!-- TODO: separate selection and collapse -->
        <td ng-click="result.selected = !result.selected">
            <i class="fa" ng-class="{'fa-bookmark': result.selected, 'fa-bookmark-o': !result.selected}"></i>
            <strong>{{ row.getTypeName(result) }}</strong>
            <div><small class="text-muted">{{ result.relevance }}</small></div>
        </td>
        <td class="mineName">
            {{result.mine.name}}
        </td>
        <td>
            <div class="summary-fields" ng-hide="result.selected">
                <span class="summary-value"
                      ng-if="summaryValue.value != null"
                      ng-class="{matched: termMatched(summaryValue.value)}"
                      ng-repeat="summaryValue in result.summaryValues">
                    {{summaryValue.value | limitTo:50}}
                </span>
            </div>
            <table class="table table-bordered table-hover table-condensed">
                <tr ng-repeat="(field, value) in result.fields" ng-show="result.selected">
                    <td class="field-name">
                      <em>{{row.getFieldName(field)}}</em>
                    </td>
                    <td ng-class="{active: termMatched(value)}">{{value}}</td>
            </table>
        </td>
    </tr>
</table>
